#btnThem1{
background-color: #f86c5b
  }

  #result {
    background-color: #171e31
  }

  #calc {
    background-color: #242c43
  }

  .control {
    background-color: #a2b3e1
  }

  #equal {
    background-color: #f86c5b
  }


